@import './sass/_libraries.scss';
@import './sass/header';
@import './sass/home';
@import './sass/color';
@import './sass/auth';
@import './sass/screenLoading';


#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex: 1 0 auto
}

.mh-100{
  min-height: 100vh;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}